.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: flex-start; /* прижимаем влево */
  align-items: stretch; /* растягиваем на всю высоту */
  z-index: 9999;
}

.modal {
  background: #1a1a1a;
  overflow: auto;
  color: #fff;
  padding: 2rem;
  width: 90%;
  max-width: 600px; /* ширина сайдбара */
  height: 100%; /* на всю высоту экрана */
  position: relative;
  border-radius: 0; /* убираем скругления */
  transform: translateX(-100%);
  animation: slideIn 0.3s forwards;
}

@keyframes slideIn {
  to {
    transform: translateX(0);
  }
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  color: #fff;
  font-size: 1.3rem;
  cursor: pointer;
}
